html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

:focus,
:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

input,
button,
textarea {
  font-family: inherit; }

ul,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: medium;
  font-style: normal; }

@media (min-width: 1120px) {
  .header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; } }

.header__row {
  padding: 18px 16px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) {
    .header__row {
      padding: 24px; } }

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header__info::after {
    content: url(./static/divider.svg);
    position: absolute;
    top: 11px;
    left: 172px; }
    @media (min-width: 768px) {
      .header__info::after {
        left: 60px; } }
  .header__info > .header__button {
    margin-right: 16px; }
    @media (min-width: 768px) {
      .header__info > .header__button {
        margin-right: 40px; } }

.header__button {
  background-color: #fff; }

.header__actions {
  display: flex;
  position: relative; }
  .header__actions li:nth-child(4) {
    margin-right: 16px; }
  .header__actions li:first-child,
  .header__actions li:nth-child(2),
  .header__actions li:nth-child(3) {
    display: none; }
    @media (min-width: 768px) {
      .header__actions li:first-child,
      .header__actions li:nth-child(2),
      .header__actions li:nth-child(3) {
        display: block; } }
  @media (min-width: 768px) {
    .header__actions li:not(:last-child) {
      margin-right: 16px; }
    .header__actions li:nth-child(3) {
      margin-right: 42px; }
    .header__actions li:nth-child(3)::after {
      content: url(./static/divider.svg);
      position: absolute;
      top: 4px;
      left: 171px; } }

.main__info {
  background-color: #f8f8f8;
  padding: 24px 16px 35px;
  position: relative;
  border-top: 1px solid #d9fff5; }
  @media (min-width: 768px) {
    .main__info {
      padding: 24px 24px 40px; } }
  @media (min-width: 1120px) {
    .main__info {
      padding: 0 32px 40px;
      border-top: none; } }

@media (min-width: 1120px) {
  .main__row {
    padding: 42px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.main__title {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .main__title {
      margin-bottom: 32px; } }
  @media (min-width: 1120px) {
    .main__title {
      margin-bottom: 0; } }

.main__actions {
  display: none; }
  @media (min-width: 1120px) {
    .main__actions {
      display: block; } }

@media (min-width: 1120px) {
  .main__action {
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-right: 8px;
    position: relative;
    padding-right: 40px;
    background-color: #f8f8f8;
    transition: all 0.3s ease; }
    .main__action:hover {
      color: #7e7e82; }
    .main__action:active {
      color: #54548d; }
    .main__action:first-child {
      margin-right: 32px; }
      .main__action:first-child::after {
        content: url(./static/repair.svg);
        padding-left: 8px;
        position: absolute;
        top: -9px;
        left: 124px; }
    .main__action:nth-child(2)::after {
      content: url(./static/checkstatus.svg);
      padding-left: 8px;
      position: absolute;
      top: -9px;
      left: 119px; } }

.main__navigation {
  overflow-x: auto;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .main__navigation {
      margin-bottom: 32px; } }
  @media (min-width: 1120px) {
    .main__navigation {
      overflow-x: hidden;
      margin-bottom: 16px; } }

.main__list {
  display: flex; }
  @media (min-width: 1120px) {
    .main__list {
      flex-wrap: wrap; } }

.main__link {
  display: block;
  white-space: nowrap;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  color: #7e7e82;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: all 0.4s ease; }
  .main__link:hover {
    background: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px; }
  .main__link:active {
    background: #d2e5ec;
    border: 2px solid #b8ffec;
    border-radius: 6px; }

@media (min-width: 768px) {
  .main__company {
    display: flex; } }

@media (min-width: 768px) {
  .main__about {
    flex: 1 1 50%;
    margin-right: 48px; } }

.main__text-block {
  height: 100px;
  transition: height 0.5s ease; }
  @media (min-width: 768px) {
    .main__text-block {
      height: 180px; } }
  @media (min-width: 1120px) {
    .main__text-block {
      height: 210px; } }
  .main__text-block.full-text {
    height: auto; }

.main__text {
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #1b1c21;
  margin-bottom: 16px; }
  .main__text:not(:first-child) {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease 0s; }
    .full-text .main__text:not(:first-child) {
      visibility: visible;
      opacity: 1; }
  @media (min-width: 768px) {
    .main__text:nth-of-type(2) {
      visibility: visible;
      opacity: 1; } }
  @media (min-width: 1120px) {
    .main__text:nth-of-type(3) {
      visibility: visible;
      opacity: 1; } }

.main__more-text {
  position: relative;
  background-color: #f8f8f8;
  padding: 16px 0;
  z-index: 2; }

.main__show-more-button {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  background-color: #f8f8f8;
  padding-left: 30px;
  transition: color 0.3s ease 0s; }
  .main__show-more-button::before {
    content: '';
    position: absolute;
    top: 37%;
    right: 90%;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #84f4e1;
    padding: 2px;
    transform: rotate(45deg);
    transition: transform 0.3s ease 0s; }
  .main__show-more-button::after {
    content: '';
    position: absolute;
    top: 14%;
    right: 90%;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #84f4e1;
    padding: 2px;
    transform: rotate(45deg);
    transition: transform 0.3s ease 0s;
    transform-origin: center center; }
  .main__show-more-button._show::before, .main__show-more-button._show::after {
    transform: rotate(225deg); }
  .main__show-more-button:hover {
    color: #7e7e82; }
  .main__show-more-button:active {
    color: #54548d; }

.main__pic {
  display: block;
  margin: 0 -16px; }
  @media (min-width: 768px) {
    .main__pic {
      margin: 0;
      flex: 1 1 50%; } }

.main__image {
  width: 100%; }
  @media (min-width: 768px) {
    .main__image {
      border-radius: 7px; } }
  @media (min-width: 1120px) {
    .main__image {
      margin-top: -9px; } }

.main__slider {
  border-top: 1px solid #d9fff5; }

.title {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #1b1c21; }
  .title::before {
    content: url(./static/highlight.svg);
    position: absolute;
    top: 21px;
    left: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0); }
    @media (min-width: 1120px) {
      .title::before {
        top: 42px; } }

.fs-text {
  display: none; }
  @media (min-width: 1120px) {
    .fs-text {
      display: inline; } }

.aside-burger {
  height: 100%;
  width: 320px;
  font-size: 16px;
  position: absolute;
  top: 0;
  z-index: 4;
  left: -100%;
  transition: left 0.3s ease 0s; }
  @media (min-width: 768px) {
    .aside-burger {
      box-shadow: 5px 0 50px #94a0b2; } }
  @media (min-width: 1120px) {
    .aside-burger {
      position: sticky;
      top: 0;
      min-width: 320px;
      box-shadow: none; } }
  .aside-burger.open {
    left: 0;
    width: 100%;
    overflow-y: scroll; }
    @media (min-width: 768px) {
      .aside-burger.open {
        width: 320px; } }
  .aside-burger__header {
    margin-bottom: 38px; }
  .aside-burger__menu {
    display: flex; }
  .aside-burger__burger-btn {
    margin-right: 16px;
    background-color: #fff; }
    @media (min-width: 1120px) {
      .aside-burger__burger-btn {
        display: none; } }
  .aside-burger__search {
    margin-left: auto;
    background-color: #fff; }
  .aside-burger__main {
    flex: 1 1 auto;
    margin-bottom: 30px; }
  .aside-burger__item {
    margin-bottom: 28px; }
    .aside-burger__item:last-child {
      margin-bottom: 0; }
  .aside-burger__link {
    display: block;
    color: #1b1c21;
    letter-spacing: -0.2px;
    position: relative;
    transition: all 0.4s ease; }
    .aside-burger__link:hover {
      color: #7e7e82; }
    .aside-burger__link:active {
      color: #54548d; }
    .aside-burger__link::before {
      content: url(./static/highlight-mobile.svg);
      position: absolute;
      opacity: 0;
      top: -4px;
      left: 0px;
      transform: scale(0.7);
      transition: all 0.6s ease; }
    .aside-burger__link:hover::before {
      content: url(./static/highlight-mobile.svg);
      opacity: 1;
      left: -24px;
      transform: scale(1); }
  .aside-burger__actions {
    display: flex;
    margin-bottom: 16px; }
  .aside-burger__action-box {
    margin-right: 16px; }
    .aside-burger__action-box:last-child {
      margin-right: 0; }
  .aside-burger__action {
    background-color: #fff; }
  .aside-burger__email {
    display: block;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-bottom: 12px;
    transition: all 0.4s ease; }
    .aside-burger__email:hover {
      color: #7e7e82; }
    .aside-burger__email:active {
      color: #54548d; }
  .aside-burger__number {
    display: block;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    font-weight: bold;
    margin-bottom: 20px;
    transition: all 0.4s ease; }
    .aside-burger__number:hover {
      color: #7e7e82; }
    .aside-burger__number:active {
      color: #54548d; }
  .aside-burger__label {
    margin-right: 7px;
    transition: all 0.4s ease;
    cursor: pointer; }
    .aside-burger__label:last-child {
      margin-right: 0; }
    .aside-burger__label:hover {
      color: #7e7e82; }
    .aside-burger__label:active {
      color: #54548d; }
  .aside-burger__radio {
    display: none; }

.aside__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 18px 24px 32px;
  background-color: #fff; }

.footer__info {
  padding: 16px 16px 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #d9fff5;
  color: #7e7e82; }
  @media (min-width: 768px) {
    .footer__info {
      padding: 32px 24px 24px;
      display: flex; } }

.footer__row {
  margin-bottom: 16px;
  text-align: center; }
  .footer__row:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .footer__row {
      margin-bottom: 0;
      flex: 1 0 33.333%; }
      .footer__row:first-child {
        text-align: left; }
      .footer__row:last-child {
        text-align: right; } }

.footer__year {
  display: block; }

.slider__title {
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 16px; }
  @media (min-width: 768px) {
    .slider__title {
      padding: 24px; } }

.slider__transparent-block {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 8%;
  width: 24px;
  height: 81px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
  @media (min-width: 768px) {
    .slider__transparent-block {
      display: none; } }

.slider__box {
  position: relative;
  padding: 16px 0 52px 16px;
  background: #f8f8f8; }

@media (min-width: 768px) {
  .brand-slider__box {
    height: 200px;
    padding: 24px 24px 8px;
    transition: height 0.5s ease; } }

@media (min-width: 1120px) {
  .brand-slider__box {
    padding: 24px 32px 8px; } }

@media (min-width: 768px) {
  .brand-slider__box.brand-slider-full {
    height: 280px; } }

.brand-slider__box .swiper-pagination {
  bottom: 18px; }

@media (min-width: 768px) {
  .brand-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px; } }

@media (min-width: 1120px) {
  .brand-slider__wrapper {
    gap: 16px 32px; } }

.brand-slider__slide {
  width: 240px;
  height: 74px; }
  @media (min-width: 768px) {
    .brand-slider__slide {
      width: 224px; } }
  @media (min-width: 1120px) {
    .brand-slider__slide {
      width: 240px; } }

.brand-slider__brand {
  width: 238px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center; }
  .brand-slider__brand:focus {
    border: 1px solid #ff76a0; }
  @media (min-width: 768px) {
    .brand-slider__brand {
      width: 222px; } }
  @media (min-width: 1120px) {
    .brand-slider__brand {
      transition: background-color 0.4s ease 0s;
      width: 240px; }
      .brand-slider__brand:hover {
        background-color: #f7f7f7; } }

@media (min-width: 768px) {
  .brand-slider__show-more {
    padding: 0 0 32px 32px;
    background: #f8f8f8; } }

.brand-slider__show-more-button {
  display: none; }
  @media (min-width: 768px) {
    .brand-slider__show-more-button {
      display: inline-block;
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      background-color: transparent;
      padding-left: 30px; }
      .brand-slider__show-more-button::before {
        content: '';
        position: absolute;
        top: 37%;
        right: 90%;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #84f4e1;
        padding: 2px;
        transform: rotate(45deg);
        transition: transform 0.3s ease 0s; }
      .brand-slider__show-more-button::after {
        content: '';
        position: absolute;
        top: 14%;
        right: 90%;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #84f4e1;
        padding: 2px;
        transform: rotate(45deg);
        transition: transform 0.3s ease 0s;
        transform-origin: center center; }
      .brand-slider__show-more-button._show::before, .brand-slider__show-more-button._show::after {
        transform: rotate(225deg); } }
  @media (min-width: 1120px) {
    .brand-slider__show-more-button {
      transition: all 0.3s ease 0s; }
      .brand-slider__show-more-button:hover {
        color: #7e7e82; } }

@media (min-width: 768px) {
  ._off {
    display: none; } }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.swiper-pagination-bullet-active {
  background-color: #7d7d7d; }

.technique-slider__transparent-block {
  height: 166px; }

@media (min-width: 768px) {
  .technique-slider__box {
    height: 190px;
    padding: 24px 24px 8px;
    transition: height 0.5s ease; } }

@media (min-width: 1120px) {
  .technique-slider__box {
    padding: 24px 32px 8px; } }

@media (min-width: 768px) {
  .technique-slider__box.brand-slider-full {
    height: 370px; } }

@media (min-width: 768px) {
  .technique-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px; } }

@media (min-width: 1120px) {
  .technique-slider__wrapper {
    gap: 16px 32px; } }

.technique-slider__slide {
  width: 240px;
  height: 74px;
  height: 160px; }
  @media (min-width: 768px) {
    .technique-slider__slide {
      width: 224px; } }
  @media (min-width: 1120px) {
    .technique-slider__slide {
      width: 240px; } }

.technique-slider__info {
  width: 238px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 158px;
  padding: 16px; }
  .technique-slider__info:focus {
    border: 1px solid #ff76a0; }
  @media (min-width: 768px) {
    .technique-slider__info {
      width: 222px; } }
  @media (min-width: 1120px) {
    .technique-slider__info {
      transition: background-color 0.4s ease 0s;
      width: 240px; }
      .technique-slider__info:hover {
        background-color: #f7f7f7; } }

.technique-slider__text {
  font-size: 16px; }

.technique-slider__image {
  align-self: flex-end; }

@media (min-width: 768px) {
  .technique-slider__show-more {
    padding: 0 0 32px 32px;
    background: #f8f8f8; } }

.technique-slider__show-more-button {
  display: none; }
  @media (min-width: 768px) {
    .technique-slider__show-more-button {
      display: inline-block;
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      background-color: transparent;
      padding-left: 30px; }
      .technique-slider__show-more-button::before {
        content: '';
        position: absolute;
        top: 37%;
        right: 90%;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #84f4e1;
        padding: 2px;
        transform: rotate(45deg);
        transition: transform 0.3s ease 0s; }
      .technique-slider__show-more-button::after {
        content: '';
        position: absolute;
        top: 14%;
        right: 90%;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #84f4e1;
        padding: 2px;
        transform: rotate(45deg);
        transition: transform 0.3s ease 0s;
        transform-origin: center center; }
      .technique-slider__show-more-button._show::before, .technique-slider__show-more-button._show::after {
        transform: rotate(225deg); } }
  @media (min-width: 1120px) {
    .technique-slider__show-more-button {
      transition: all 0.3s ease 0s; }
      .technique-slider__show-more-button:hover {
        color: #7e7e82; } }

@media (min-width: 768px) {
  ._off {
    display: none; } }

.price-slider__transparent-block {
  height: 200px; }

.price-slider__box {
  padding: 16px 0 52px 8px; }
  @media (min-width: 768px) {
    .price-slider__box {
      padding: 16px 24px 24px; } }

@media (min-width: 768px) {
  .price-slider__wrapper {
    display: table;
    border-radius: 6px; } }

.price-slider__slide {
  width: 260px;
  height: 200px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .price-slider__slide {
      display: table-row;
      height: 64px;
      position: relative; }
      .price-slider__slide:nth-child(2) .price-slider__row:first-child {
        border-top-left-radius: 6px; }
      .price-slider__slide:nth-child(2) .price-slider__row:last-child {
        border-top-right-radius: 6px; }
      .price-slider__slide:last-child .price-slider__row:first-child {
        border-bottom-left-radius: 6px; }
      .price-slider__slide:last-child .price-slider__row:last-child {
        border-bottom-right-radius: 6px; }
      .price-slider__slide::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 96%;
        background-color: #eaeaea;
        left: 2%;
        top: 95%; }
      .price-slider__slide:last-child::after {
        background-color: transparent; } }
  @media (min-width: 1120px) {
    .price-slider__slide::after {
      width: 98%;
      left: 1%; } }

.price-slider__head {
  display: none; }
  @media (min-width: 768px) {
    .price-slider__head {
      display: table-row;
      color: #7e7e82; } }

.price-slider__row {
  margin-bottom: 16px;
  line-height: 18px; }
  .price-slider__row:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .price-slider__row {
      display: table-cell;
      padding: 16px;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  .price-slider__row--head {
    border-bottom: none; } }

.price-slider__secret-head {
  color: #7e7e82; }
  @media (min-width: 768px) {
    .price-slider__secret-head {
      display: none; } }

.price-slider__order-block {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.price-slider__btn-order {
  align-self: flex-start; }

@media (min-width: 768px) {
  .price-slider__time {
    margin-right: 7px; } }

.price-slider__btn-order {
  width: 119px;
  position: relative;
  background: #ff3e79;
  color: #fff;
  text-align: left;
  padding: 4px 0 4px 12px;
  border: 2px solid #ff3e79;
  border-radius: 16px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease 0s; }
  .price-slider__btn-order::after {
    content: '';
    position: absolute;
    top: 32%;
    right: 16%;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: #fff;
    padding: 3px;
    transform: rotate(-45deg); }
  .price-slider__btn-order:hover {
    background-color: #fff;
    color: #ff3e79;
    transform: scale(1.1); }
  .price-slider__btn-order:hover::after {
    border-color: #ff3e79; }
  .price-slider__btn-order:active {
    background-color: #f7f7f7; }

.price-slider__info {
  padding: 8px 16px 20px;
  background-color: #f8f8f8; }
  @media (min-width: 768px) {
    .price-slider__info {
      padding: 0 24px 50px; } }

.price-slider__text {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .price-slider__text {
      width: 420px; } }

.price-slider__offer {
  background-color: transparent;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 500;
  text-align: left;
  transition: all 0.3s ease 0s; }
  .price-slider__offer:hover {
    color: #7e7e82; }
  .price-slider__offer:active {
    color: #54548d; }

.price-slider__span {
  position: relative; }
  .price-slider__span::after {
    content: '';
    position: absolute;
    top: 36%;
    right: -16%;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: #ff3e79;
    padding: 3px;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s; }
  .price-slider__offer:hover .price-slider__span::after {
    transform: rotate(-45deg) scale(1.3); }

.modal-wrap {
  width: 320px;
  height: 100%;
  padding: 24px 16px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: calc(100% - 320px);
  z-index: 5;
  transform: translateX(360px);
  transition: all 0.3s ease 0s;
  box-shadow: 5px 0 50px #94a0b2; }
  .modal-wrap--open {
    transform: translateX(0);
    overflow-y: scroll; }
  @media (min-width: 1120px) {
    .modal-wrap {
      padding: 40px 32px;
      left: calc(100% - 440px);
      width: 440px;
      transform: translateX(520px);
      transition: all 0.3s ease 0s; }
      .modal-wrap--open {
        transform: translateX(0); } }

.modal {
  position: relative; }
  .modal__btn-close {
    background-color: transparent;
    margin-bottom: 32px; }
    @media (min-width: 1120px) {
      .modal__btn-close {
        position: absolute;
        left: -96px;
        top: -6px; } }
  .modal__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px; }
    .modal__title::before {
      top: 70px;
      left: -16px; }
      @media (min-width: 1120px) {
        .modal__title::before {
          top: -6px;
          left: -32px; } }
  .modal__input, .modal__textarea {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 12px 0px 12px 16px;
    margin-bottom: 16px; }
    .modal__input:focus, .modal__textarea:focus {
      border: 1px solid #ff3e79; }
  .modal__textarea {
    height: 118px;
    resize: none; }
  .modal__agreement {
    margin-bottom: 18px; }
    @media (min-width: 1120px) {
      .modal__agreement {
        margin-bottom: 22px; } }
  .modal__link {
    color: #ff3e79; }
  .modal__btn-box {
    display: flex;
    justify-content: flex-end; }
  .modal__btn-send {
    width: 136px; }

.modal__empty-fields {
  color: red;
  font-size: 20px;
  margin-top: 20px; }

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: 'TT Lakes';
  line-height: 1.5;
  position: relative; }

@media (min-width: 1120px) {
  .container {
    display: flex;
    position: relative; } }

._lock {
  overflow: hidden; }

._show {
  visibility: visible;
  opacity: 1; }

._hide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  opacity: 0.96; }

._hide-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  opacity: 0.96;
  z-index: 4; }


/*# sourceMappingURL=style.css.map*/