.brand-slider {
  &__box {
    @media (min-width: $screen-md) {
      height: 200px;
      padding: 24px 24px 8px;
      transition: height 0.5s ease;
    }
    @media (min-width: $screen-lg) {
      padding: 24px 32px 8px;
    }
    &.brand-slider-full {
      @media (min-width: $screen-md) {
        height: 280px;
      }
    }
    & .swiper-pagination {
      bottom: 18px;
    }
  }
  &__wrapper {
    @include slider__wrapper;
  }

  &__slide {
    @include slide;
  }

  &__brand {
    @include slide-content;
    align-items: center;
  }
  &__show-more {
    @include show-more;
  }
  &__show-more-button {
    @include show-more-btn;
  }
}
._off {
  @media (min-width: $screen-md) {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #7d7d7d;
}
