.footer {
  &__info {
    padding: 16px 16px 20px;
    background-color: $bgcMain;
    border-top: 1px solid $blueBorderTop;
    color: $cHover;
    @media (min-width: $screen-md) {
      padding: 32px 24px 24px;
      display: flex;
    }
  }

  &__row {
    margin-bottom: 16px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $screen-md) {
      margin-bottom: 0;
      flex: 1 0 33.333%;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  &__year {
    display: block;
  }
}
