@mixin hide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: $bgcHeader;
  opacity: 0.96;
}

@mixin transparent-block {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 8%;
  width: 24px;
  height: 81px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  @media (min-width: $screen-md) {
    display: none;
  }
}

@mixin slider__wrapper {
  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
  }
  @media (min-width: $screen-lg) {
    gap: 16px 32px;
  }
}

@mixin slide {
  width: 240px;
  height: 74px;
  @media (min-width: $screen-md) {
    width: 224px;
  }
  @media (min-width: $screen-lg) {
    width: 240px;
  }
}

@mixin slide-content {
  width: 238px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  background-color: $bgcHeader;
  &:focus {
    border: 1px solid #ff76a0;
  }
  @media (min-width: $screen-md) {
    width: 222px;
  }
  @media (min-width: $screen-lg) {
    transition: background-color 0.4s ease 0s;
    width: 240px;
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

@mixin show-more {
  @media (min-width: $screen-md) {
    padding: 0 0 32px 32px;
    background: $bgcMain;
  }
}

@mixin show-more-btn {
  display: none;
  @media (min-width: $screen-md) {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    background-color: transparent;
    padding-left: 30px;
    &::before {
      content: '';
      position: absolute;
      top: 37%;
      right: 90%;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #84f4e1;
      padding: 2px;
      transform: rotate(45deg);
      transition: transform 0.3s ease 0s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 14%;
      right: 90%;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #84f4e1;
      padding: 2px;
      transform: rotate(45deg);
      transition: transform 0.3s ease 0s;
      transform-origin: center center;
    }
    &._show::before,
    &._show::after {
      transform: rotate(225deg);
    }
  }
  @media (min-width: $screen-lg) {
    transition: all 0.3s ease 0s;
    &:hover {
      color: $cHover;
    }
  }
}
